.languages-examples li {
	float: left;
	width: 50%;
}

#cn-content h2 {
  background:#555 url('/images/h-square.gif') no-repeat left top;
  color:#FFF;
  font-size:1em;
  font-weight:700;
  margin-bottom:5px;
  margin-left:0;
  margin-right:0;
  padding:3px 3px 3px 25px
}

form#daily_depth label { font-weight: bold; }
form#daily_depth div { margin-bottom: 15px; }

.active { border: 0 }

ul.tabs {
  background: white !important;
  background-image: none;
  border-top: none !important;
  border-bottom: none !important;
}

#conditions-parent {
  height: 1500px !important;
}

div.filled {
  background: #F9F9F9;
}

.tabs-style-1 .tabs li a, .tabs-style-1 .tabs li a:hover, .tabs-style-1 .tabs li a:focus, .tabs-style-1 .tabs li {
  background: #105282;
}

.tabs-style-1 .tabs li a:hover {
  color: white !important;
  border-top-color: #105282;
  border-top-width: 2px;
  text-decoration: underline;
}

.tabs-style-1 .tabs li a.active {
  font-weight: bold;
  text-decoration: none;
  background-color: #f9f9f9;
}

.stripe {
  background: #F3F3F3;
}

.required , .red {
  color: red;
}

.least-depth {
  color:red;
  font-weight: bold;
}


.map-group img {
  display: block;
  font-size: 0;
  line-height: 0;
  margin-bottom: 0;
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  width: auto;
  height: auto;
}

.back {
  margin-left: 13px;
}

.print_show, #ui-datepicker-div {
  display: none;
}

.print_button {
  float:right;
  margin:2em 2em;
}
img#ccg-logo, img#ccg-word {
  display: none;
}

.yaxislabel { color: black; }

table.dataTable tr.odd, table tr.odd, table.dataTable tr.odd td.sorting_1 { background: #F3F3F3; }
table.dataTable tr.even, table tr.even, table.dataTable tr.even td.sorting_1 { background: #FFFFFF; }

tr.controlling td { color: red; }

div.inline-block {
  display:inline-block
}

table.styled th, table.styled td {
  text-align: center;
  padding: 3px 10px
}
  table.styled td:first-child { text-align: left }
  table.styled th { border-bottom: 1px solid black }
