.print_show {
  display: block;
}

.print_hide, form, ul.tabs, #gcwu-psnb{
  display: none;
}

.page-break	{ 
  clear: both;
  display: block; 
  page-break-before: always; 
}

#wb-main-in {
  border: none;
}

div#placeholder {
  float: none;
  position: relative;
  top: 50px;
  width: 200px;
}

table, .grid-12 {
  float: none;
  position: static;
}

.summary {
  display: block;
  position: fixed;
}

.tabs-panel {
  border: none !important;
  padding-bottom: 250px;
}

img#ccg-logo {
  display: block;
  float: right;
}

img#ccg-word {
  display: block;
}

.grid-12, .span-6 {
  float: none;
  position: relative;
}