.print_show {
  display: inline;
}

#wb-main-in {
  border: none;
}

.print_hide, form, ul.tabs, #gcwu-psnb{
  display: none;
}

div#placeholder {
  float: none;
  position: relative;
  top: 50px;
  width: 200px;
}

.summary {
  display: block;
  position: fixed;
}

.tabs-panel {
  border: none !important;
  padding-bottom: 250px;
}

img#ccg-logo {
  display: block;
  float: right;
}

img#ccg-word {
  display: block;
}