a:active
{
	color: #000000;
	text-decoration: none;
}
a:link
{
	color: #000000;
}
a:visited
{
	color: #000000;
}
a:hover
{
	color: darkred;
	text-decoration: none;
}
.admin-tab-active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 0px none #D5D291;
	background-color: #ffffff;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.admin-tab-inactive
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: #EDECD1;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.admin-tab-right
{
	border-bottom: 1px solid #D5D291;
}
.admin-tan-border
{
	border-top: 1px solid #ffffff;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: White;
}
.admin-tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.admin-tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}

body
{
	font-size: 12px;
	padding-right: 0px;
	padding-left: 0px;
	padding-bottom: 0px;
	margin: 0px;
	padding-top: 0px;
	background-color: #ffffff;
}
.grid-header a:active
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:link
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:visited
{
	color: #696969;
	text-decoration: none;
}
.grid-header a:hover
{
	color: darkred;
	text-decoration: none;
}
.grid-edit-column
{
	border-top: #696969 1px solid;
	border-bottom: #696969 1px solid;
	border-left: #696969 1px solid;
}
.grid-first-item
{
	border-top: #696969 1px solid;
	border-right: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}
.grid-item
{
	border-right: #696969 1px solid;
	border-top: #696969 1px solid;
	border-left: #696969 1px double;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}
.grid-header
{
	border-bottom: #696969 1px solid;
	font-weight: bold;
	font-size: 11px;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.grid-last-item
{
	border-top: #696969 1px solid;
	border-left: #696969 1px solid;
	border-bottom: #696969 1px solid;
	padding-right: 4px;
	padding-left: 4px;
	padding-bottom: 4px;
	padding-top: 4px;
	margin: 1px;
}

.formTitle {
	margin: 7 0 3 0;
	font-weight: bold;
	font-size: 11px;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}

.formItem
{
	margin:2 0 2 15;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}



.header-gray
{
	margin-top: 5;
	font-weight: bold;
	font-size: 11px;
	color: #696969;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.header-lightgray
{
	font-weight: bold;
	font-size: 10px;
	color: gray;
	font-family: Verdana, Arial, Helvetica, sans-serif;
}
.report-main-header
{
	font-weight: bold;
	font-size: 15px;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 18px;
	padding-right: 18px;
	text-align: center;
}
.report-header
{
	font-weight: normal;
	font-size: 12px;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	padding-left: 18px;
	padding-right: 18px;
	text-align: center;
}
.report-text
{
	font-size: 10px;
	color: #000000;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	padding-left: 18px;
	padding-right: 18px;
}
.report-header a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}
.report-header a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.report-header a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: Black;
	text-decoration: none;
}
.report-header a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #696969;
	text-decoration: none;
}
.standard-text
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

.smalltabletext
{
	font-family: Arial;
	font-size: 11px;
	color: #000000;
}


.tab-active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #990000;
	border-top: 0px none #EDECD1;
	border-right: 1px solid #EDECD1;
	border-left: 1px solid #EDECD1;
	border-bottom: 0px none #EDECD1;
	background-color: #EDECD1;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.tab-inactive
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-left: 1px solid #000000;
	border-bottom: 0px none #000000;
	background-color: #797979;
	text-align: center;
	padding-top: 3px;
	padding-right: 18px;
	padding-bottom: 3px;
	padding-left: 18px;
}
.tan-border
{
	border-top: 1px solid #D5D291;
	border-left: 1px solid #D5D291;
	border-right: 1px solid #D5D291;
	border-bottom: 1px solid #D5D291;
	background-color: White;
}
.tab-inactive a:link
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:visited
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
.tab-inactive a:active
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}
.tab-inactive a:hover
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFC453;
	text-decoration: none;
}
td
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #000000;
}

.tableborder
{
	border-color: Black;
	border-style: solid;
	border-top-width: 1px;
	border-right-width: 1px; 
	border-bottom-width: 1px;
	border-left-width: 1px;
}


.surveys-main-header
{
	font-weight: bold;
	font-size: 15px;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}
.surveys-header
{
	font-weight: normal;
	font-size: 12px;
	color: Black;
	font-family: Arial, Helvetica, sans-serif;
	text-align: left;
}

.calendar
{
	width: 185px;
	height: 8px;	
}

.calendar-title-style
{
	background-color: tomato; 
	font-weight: normal;
	color: Black;
} 

.menu-link
{
	font-weight: bold;
	font-size: 12px;
	color: red;
	font-family: Verdana, Arial;
	text-decoration: none;
}
